<!-- Main navigation -->
<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent shadow position-fixed fixed-top ">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a style="cursor: pointer;" class="navbar-brand bg-transparent me-2"  >
                <img src="../../../../assets/image/IBM_Notes_9_logo.png" width="40" loading="lazy" style="margin-top: -1px;" />
            </a>
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a style="color: #8E24AA !important; font-weight: 900 !important; font-size: 20px !important;" class="nav-link fw-bolder" href="#">NgNotes</a>
                    </li>
                </ul>
                <!-- Left links -->
                <div class="d-flex align-items-center ">   
                    <button routerLink="/auth/login" style="background-color: #8E24AA !important;" type="button" class="btn text-white me-3">
                        Login
                    </button>
                    <button routerLink="/auth/register"type="button" class="btn btn-primary me-3">
                        Sign up for free
                    </button>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view vh-100 jarallax" data-jarallax='{"speed": 0.2}'style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <!-- Mask & flexbox options-->
        <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <div class="row wow fadeIn d-flex justify-content-between   align-items-center">
                    <!--Grid column-->
                    <div class="col-md-6 ">
                        <h2 style="font-weight: 400; color: rgb(9, 30, 66) ;"
                            class="display-4 mb-0 pt-md-5 pt-5 wow fadeInUp">Trello helps teams move work forward.</h2>
                        <h5 class="pt-md-5  m-auto pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp"
                            data-wow-delay="0.2s">Collaborate, manage projects, and reach new productivity peaks. From
                            high rises to the home office, the way your team works is unique—accomplish it all with
                            Trello.</h5>
                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                            <a class="btn btn-outline-purple btn-rounded"><i class="fasfa-book left"></i> Learn more</a>
                        </div>
                    </div>
                    <div class="  col-md-6">
                        <div class=" d-flex  imge">

                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
</header>