 .imge{
    background-image: url('https://images.ctfassets.net/rz1oowkt5gyp/5QIzYxue6b7raOnVFtMyQs/113acb8633ee8f0c9cb305d3a228823c/hero.png?w=576&fm=webp');
    background-size: cover; 
    width: 348px !important;
    height: 450px !important;
    float: right;
 }

